@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto+Serif:wght@300&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

input, button, textarea, select {
  font: inherit;
}

.main {
  height: 100vh;
  background-color: rgba(67, 55, 175, 0.075);
  color: #4337af;
  overflow-x: hidden;
}

h1 {
  font-family: "Roboto Serif", sans-serif;
  font-size: 42px;
}

p, label {
  font-weight: 400;
  font-size: 18px;
}

span {
  font-weight: 900;
  margin-right: 3px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 12px 24px;
  margin-bottom: 24px;
  background-color: #4337af;
  color: rgba(255, 255, 255, 0.9);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.book-container {
  width: 85%;
  max-width: 500px;
  padding: 24px;
  margin-top: 24px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03), 0 2px 2px rgba(0, 0, 0, 0.03), 0 4px 4px rgba(0, 0, 0, 0.03), 0 8px 8px rgba(0, 0, 0, 0.03), 0 16px 16px rgba(0, 0, 0, 0.03);
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.book-item {
  display: block;
  align-self: center;
  justify-self: center;
  margin-bottom: 12px;
}

.btn {
  display: block;
  min-width: 120px;
  background: #4337af;
  color: rgba(255, 255, 255, 0.9);
  border: none;
  padding: 12px 36px;
  margin-top: 12px;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #f18100;
}

.btn-save {
  background-color: rgba(255, 255, 255, 0.9);
  color: #4337af;
}
.btn-save:hover {
  color: rgba(255, 255, 255, 0.9);
}

.form-container {
  width: 85%;
  max-width: 500px;
  margin-top: 24px;
  padding: 24px;
  border-radius: 12px;
  background-color: #4337af;
  color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 2px 2px rgba(0, 0, 0, 0.075), 0 4px 4px rgba(0, 0, 0, 0.075), 0 8px 8px rgba(0, 0, 0, 0.075), 0 16px 16px rgba(0, 0, 0, 0.075);
}

.form-control label {
  display: block;
  margin-bottom: 12px;
}
.form-control input {
  border: 0;
  width: 100%;
  height: 36px;
  padding: 3px 12px;
  border-radius: 8px;
  margin-bottom: 24px;
}

.form-control-check-box {
  margin-bottom: 24px;
}

.check-box {
  margin-right: 12px;
}

/*# sourceMappingURL=App.css.map */
